.resource-list {
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    padding: 10px;
    text-align: center;
  }
  
  .resource-list ul {
      text-align: left;
      margin: 0 auto;
      width: 300px;
  }
  
  .resource-list a {
    color: black;
    line-height: 30px;
  }