<div class="resource-list">
    <h2>
        Here are some resources to help you on your Angular + Netlify journey:
    </h2>
    <ul>
      <li>
        <a href="https://github.com/netlify-templates/angular-quickstart">The Angular Quickstart repo</a>
      </li>
      <li>
        <a href="https://www.netlify.com/tags/angular/">Netlify Blog: Angular posts</a>
      <li>
        <a href="https://docs.netlify.com/">Netlify Docs</a>
      </li>
      <li>
        <a href="https://angular.io/">Angular Docs</a>
      </li>
    </ul>
  </div>